<section>

</section>
<marquee>
    <%-emojify("Dinosaurs page")%>
</marquee>
<h1>
    <%= title %>
</h1>

<ul class="dinos">
    <% dinosaurs.forEach(dino=> { %>

        <% if (dino.isHerbivore) { %>
            <li class="green">
                <% } else {%>
            <li class="red">
                <% } %>

                    <h3>
                        <%=uppie(dino.name)%>
                    </h3>
                    <p>
                        <%=dino.description%>
                    </p>

                    <img src="/assets/images/<%=dino.image%>" alt="">

                    <a href="dino/<%=dino.slug%>">Read more</a>
            </li>
            <% }) %>
</ul>